<!-- component -->
<!-- <div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-12"
>
  <div
    class="relative bg-white px-6 pt-10 pb-9 shadow-xl mx-auto w-full max-w-lg rounded-2xl"
  >-->
<div
  class="mx-auto flex w-full max-w-md flex-col p-6 space-y-4 md:space-y-6 sm:p-8"
>
  <div class="flex flex-col items-center justify-center text-center space-y-2">
    <div class="font-semibold text-3xl">
      <p>Email Verification</p>
    </div>
    <div class="flex flex-row text-sm font-medium text-gray-400">
      <p>We have sent a code to your email</p>
    </div>
  </div>

  <div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="space-y-4 md:space-y-6">
      <div class="flex flex-col space-y-16">
        <div
          class="flex flex-row items-center justify-between mx-auto w-full max-w-xs"
        >
          <div class="w-12 h-12">
            <input
              class="w-full h-full flex flex-col items-center justify-center text-center outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
              type="text"
              ngModel
              required
              maxlength="1"
              name="one"
              id=""
            />
          </div>
          <div class="w-12 h-12">
            <input
              class="w-full h-full flex flex-col items-center justify-center text-center outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
              type="text"
              ngModel
              required
              maxlength="1"
              name="two"
              id=""
            />
          </div>
          <div class="w-12 h-12">
            <input
              class="w-full h-full flex flex-col items-center justify-center text-center outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
              type="text"
              ngModel
              required
              maxlength="1"
              name="there"
              id=""
            />
          </div>
          <div class="w-12 h-12">
            <input
              class="w-full h-full flex flex-col items-center justify-center text-center outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
              type="text"
              ngModel
              required
              maxlength="1"
              name="four"
              id=""
            />
          </div>
          <div class="w-12 h-12">
            <input
              class="w-full h-full flex flex-col items-center justify-center text-center outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
              type="text"
              ngModel
              required
              maxlength="1"
              name="five"
              id=""
            />
          </div>
          <div class="w-12 h-12">
            <input
              class="w-full h-full flex flex-col items-center justify-center text-center outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
              type="text"
              ngModel
              required
              maxlength="1"
              name="six"
              id=""
            />
          </div>
        </div>

        <div class="flex flex-col space-y-5">
          <div>
            <button
              type="submit"
              class="w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
            >
              Verify
            </button>
          </div>

          <div
            class="flex flex-row items-center justify-center text-center text-sm font-medium space-x-1 text-gray-500"
          >
            <!-- <p>Didn't recieve code?</p>
            <a
              class="flex flex-row items-center text-blue-600"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Resend</a
            > -->
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- </div>
  </div>
</div> -->
</div>
