<section>
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <!-- Singin Form -->
      <app-signin-form
        *ngIf="!successfulSignIn?.email"
        (onSuccessfulSignIn)="handleSuccessfulSignIn($event)"
      ></app-signin-form>
      <!-- OTP Form -->
      <app-otp
        *ngIf="successfulSignIn?.email"
        [data]="successfulSignIn"
      ></app-otp>
    </div>
  </div>
</section>
